@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  *::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none;
  }

  body {
    @apply bg-white text-gray-900 antialiased dark:bg-gray-950 dark:text-gray-100;
  }

  a {
    @apply text-inherit no-underline;
  }
}
